.container {
    background-image: url("/assets/login-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh
}

.form-title {
    font-family: Cardinal;
    font-size: 2em;
}

.login-form {
    position: absolute;
    top:10%; 
    left:10%; 
    right:0; 
    bottom:0;
}
.form-container {
    display: grid;
    padding: 5% 2%;
    background-color: rgba(220, 180, 180, 0.5);
    width: fit-content;
}

.login-form input,
.login-form label,
.login-form button {
    max-width: 175px;
    min-height: 25px;
    margin: 15px 0;
}