/* You can add global styles to this file, and also import other style files */

html, body {
    margin: 0;
}

@font-face {
    font-family: Cardinal;
    src: url("assets/fonts/Cardinal.ttf");
}

@font-face {
    font-family: Germina-Bunt;
    font-size: 1.2em;
    src: url("assets/fonts/germinabunt.ttf");
}

@font-face {
    font-family: TheStudentsTeacher;
    src: url("assets/fonts/TheStudentsTeacher.ttf");
}